#formulario {
  max-width: 600px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  border: var(--cor-primaria) solid 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  & h1 {
    font-size: 3rem;
    margin-bottom: 0px;
  }
  & p {
    margin-bottom: 50px;
  }
}

.container-form{
  display: flex; 
  justify-content: space-between;
}

.label-box{
  display: block; 
  width: 48%;
}

#formulario form label {
  display: flex;

  margin-bottom: 8px;
  font-weight: bold;
}

#formulario form input,
#formulario form select,
#formulario form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#formulario form button {
  
  --c1: var(--white);
  --c2: var(--cor-primaria);
  padding: 0.5em 15.6em;
  font-size: 1em;
  font-weight: 700;

  background-color: transparent;
  color: var(--c2);
  border: 3px solid var(--c2);
  border-radius: 0.2em;
  cursor: pointer;

  overflow: hidden;
  position: relative;
  transition: 700ms cubic-bezier(0.83, 0, 0.17, 1);

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    top: 120%;
    left: 120%;
  }
}

#formulario form button:hover {
  --c1: var(--white);
  --c2: var(--cor-primaria);
  padding: 0.5em 15.6em;
  font-size: 1em;
  font-weight: 700;

  background-color: var(--cor-primaria);
  color: var(--c1);
  border: 3px solid var(--c2);
  border-radius: 0.2em;
  cursor: pointer;

  overflow: hidden;
  position: relative;
  transition: 700ms cubic-bezier(0.83, 0, 0.17, 1);

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    top: 120%;
    left: 120%;
  }
}
