:root {
  --cor-primaria: #509d4c;
  --cor-secundaria: #002f00;
  --white: #f4f4f4;

}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif, arial;
}

body {
  line-height: 1.6;
  background-color: var(--white);
  margin: 0;
}

.container{
  background-color: white;
}

/* Navbar */
header {
  background: var(--cor-primaria);
  color: var(--white);
  padding: 1rem 0;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

header nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: var(--cor-secundaria);
}

/* Seções principais */
main {
  text-align: center;
}

#inicio {
  background: var(--cor-secundaria);
  border-radius: 8px;
  margin-bottom: 2rem;
  width: 100%;
}

#inicio .banner {
  background-image: url("../img/flores-banner.jpg");
  background-size: cover;
  width: 100%;
  height: 80vh;
}

#inicio .banner .inBanner {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#inicio .banner .inBanner h1 {
  color: #fff;
  font-size: 3rem;
}
#inicio .banner .inBanner p {
  color: #fff;
  font-size: 1.5rem;
}

main section {
  margin-bottom: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main section h1,
main section h2,
main section h3{
  color: #333;
  margin-bottom: 1rem;
  font-size: 1.4em;
}

main section p {
  color: #555;
}


.btn{
  background: var(--cor-primaria);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn:hover {
  background: var(--cor-secundaria);
}

#natureza .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 5rem;
}

#natureza .text {
  flex: 1;
  text-align: left;
}

#natureza .image {
  flex: 1;
}

#natureza .image img {
  max-width: 70%;
  height: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 50px #7a7a7a, -5px -5px 50px #ffffff;
}

#exposicao{
  padding: 5rem;
}

#exposicao table{
  width:100%; 
  border-collapse: collapse; 
}

#exposicao thead{
  background-color: #a5faa9; 
  text-align: left;
}

#exposicao th, #exposicao td{
  padding: 12px; 
  border: 1px solid var(--cor-primaria);
}


/* Footer */
footer {
  background: var(--cor-primaria);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer ul li a:hover {
  color: #f4a261;
}
