#inicio .banner-sobre {
  background-image: url(../img/bunner-sobre.jpg);
  background-position-y: 50%;
  scale: -1;
  position: relative;
}

#inicio .banner-sobre > .inBanner {
  width: 60%;
  padding-top: 4em;
  scale: -1;
  padding-right: 10%;
  text-align: right;

  & > p {
    padding-left: 3em;
    margin-bottom: 1em;
    font-size: 1em;
  }
}

#origin {
  margin: 2em;
  padding: 2em;
}

article {
  padding: 2em 4em;
  display: flex;
  gap: 2em;
  align-items: center;

  & p {
    text-align: left;
    font-size: 1.2em;
  }
}

img {
  border-radius: 16px;
  background: #f4f4f4;
  box-shadow: 5px 5px 50px #7a7a7a, -5px -5px 50px #ffffff;
  max-width: 30%;
}

#objetivos {
  margin: 2em;
  padding: 2em;
}

#atividades {
  margin: 2em;
  padding: 2em;
}

#atividades article {
  gap: 10%;
}

#atividades article :is(p, ul) {
  width: 50%;
  text-align: left;
}
