#inicio .banner-sobre {
  background-image: url(../img/bunner-sobre.jpg);
  background-position-y: 50%;
  scale: -1;
  position: relative;
}

#inicio .banner-sobre > .inBanner {
  width: 60%;
  padding-top: 4em;
  scale: -1;
  padding-right: 10%;
  text-align: right;
  align-items: flex-end;

  & > p {
    padding-left: 3em;
    margin-bottom: 1em;
    font-size: 1.3vw;
  }
}

#origin {
  margin: 2em;
  padding: 2em;
}

article {
  padding: 2em 4em;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
  & p {
    text-align: left;
    font-size: 1.2em;
  }
}

article ol li {
  text-align: left;
  font-size: 1.2em;
}

img {
  border-radius: 16px;
  background: #f4f4f4;
  box-shadow: 5px 5px 50px #7a7a7a, -5px -5px 50px #ffffff;
  max-width: 30%;
}

#objetivos {
  margin: 2em;
  padding: 2em;
}

#atividades {
  margin: 2em;
  padding: 2em;
}

#atividades article {
  gap: 10%;
}

#atividades article :is(p, ul) {
  width: 50%;
  text-align: left;
  font-size: 1.2em;
}

#video {
  margin: 2em;
  padding: 2em;
}

aside {
  background-color: #f9f9f9;
  border-left: 5px solid var(--cor-primaria);
  padding: 1.5em;
  margin: 2em 0;
  border-radius: 8px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
}

aside h4 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0.5em;
}

aside p {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
  margin: 0;
}